/* styles.css - Challenge #1 (Skeleton) */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

body{
    background-color:  rgb(235, 235, 235);
}
.site-header{
    color: rgb(223, 81, 81);
    font-size: 30px;
    text-align: center;
}

.tagline{
    color: black;
}

.container{
    display: flex;
    padding: 10px;
    height: 90vh;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}

/* .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.hero{
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
    height: 50%;
    min-width: 300px;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 50%;
   
}


.mascot-placeholder{
    display: flex;
    flex-direction: column;
    align-items: center; 
}



#mascot-image{
   width: 80%;
   height: 80%;
}

.buy-tickets{
    background-color: lightgreen;
    width: 100px;
    height: 60px;
    border: 0;
    border-radius: 5px;
}



.buy-tickets:hover {
    background-color: #32cd32;   
    transform: translateY(-2px);
    cursor: pointer;

}

.make-donation:hover {
    transform: translateY(-2px); 
    cursor: pointer;
    background-color: #1e90ff;  
    
}

.make-donation{
    background-color: lightblue;
    width: 100px;
    height: 60px;
    border: 0;
    border-radius: 5px;}



.about{
    line-height: 20px;
}

/* .site-footer{
    font-size: 10px;
    color: gray;
    
}
 */

.site-footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(220, 220, 220);
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
